body {
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    height: 100vh;

    margin: 0;

    overflow: hidden;
}

#content {
    display: grid;

    height: 100%;
}

#functions {
    grid-column: 1/1;

    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#functions {
    background-color: #222831;
    color: #00ADB5;
    border-right: 2px solid #940b6b;
    font-size: large;
}

#main-canvas {
    grid-column: 2/2;

    height: 100%;
    width: 100%;
}

#origo {
    cursor: pointer;
    user-select: none;

    position: fixed;

    top: 30px;
    right: 30px;

    border-radius: 5px;
    padding: 5px;
    background-color: rgb(208, 208, 208);
}